# Airflow UID 설정
AIRFLOW_UID={OS 계정 UID}                                       # airflow 를 실행할 계정의 UID
AIRFLOW_PORT={airflow 웹 서버 포트}                             # Airflow 웹 서버 포트

# airflow 관리자 계정 설정
_AIRFLOW_WWW_USER_USERNAME={AIRFLOW 관리자 계정 ID}             # 최초 airflow 실행시 접속 ID
_AIRFLOW_WWW_USER_PASSWORD={AIRFLOW 관리자 계정 PW}             # 최초 airflow 실행시 접속 PW
